<aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
        <a class="pl-0 ml-0 text-center" href="index.html">
            <img src="https://via.placeholder.com/216x62" alt="logo">
        </a>
    </div>
    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">


        <!-- Dashboard -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#dashboard" aria-expanded="false" aria-controls="dashboard"> <span><i class="material-icons fs-16">dashboard</i>Dashboard </span>
            </a>
            <ul id="dashboard" class="collapse" aria-labelledby="dashboard" data-parent="#side-nav-accordion">
                <li> <a href="index.html">Costic</a>
                </li>
            </ul>
        </li>
        <!-- /Dashboard -->

        <!-- Packages  -->
        <li class="menu-item">
            <a href="javascript:void(0)" class="has-chevron" data-toggle="collapse" data-target="#Package" aria-expanded="false" aria-controls="Package"> <span><i class="fas fa-box-open fs-16"></i> Packages </span>
            </a>
            <ul id="Package" class="collapse" aria-labelledby="Package" data-parent="#side-nav-accordion">

            </ul>
        </li>
        <!-- /Pays & City -->

        <!-- Package -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Package" aria-expanded="false" aria-controls="Package"> <span><i class="fa fa-archive fs-16"></i>Packages </span>
            </a>

            <ul id="Package" class="collapse" aria-labelledby="Package" data-parent="#side-nav-accordion">
                <li> <a href="{{ path('listPackage') }}">Packages</a></li>
                <li> <a href="{{ path('newPackage') }}">Add Package</a></li>
            </ul>
        </li>
        <!-- Package end -->





    </ul>
</aside>
