:root{
    --bg-color-primary: #f96825;
    --bg-color-primary-hover: #f96825;
    --bg-color-dark: #1d2738;
}

input[type="file"]{display: none}

.box-file{
    width: 100%;
}

.inputfile + label {
    font-size: 20px;
    /* 20px */
    font-weight: 200;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;

    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}


.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}



/* style */

.inputfile + label {
    color: var(--bg-color-primary);
}

.inputfile + label {
    width: 100%;
    border: 1px solid var(--bg-color-primary);
    padding: 0;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    border-color: var(--bg-color-primary-hover);
}

.inputfile + label span,
.inputfile + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile + label span {
    width: 50%;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    width: 50%;
    height: 100%;
    color: #f1e5e6;
    background-color: var(--bg-color-primary);
    display: inline-block;
}

.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong {
    background-color: var(--bg-color-primary-hover);
}

@media screen and (max-width: 50em) {
    .inputfile + label strong {
        display: block;
        width: 100%;
    }

    .inputfile + label span {
        display: block;
        width: 100%;
    }

}


.list-images{width: 100%;margin-bottom: 15px;background-color: #fff;border:1px solid var(--bg-color-primary);}
.my-list-images{width: fit-content ;max-width: 100%;margin: auto;padding: 10px;}
.row-images{text-align: center}
.row-images > div {width: 100px;height:60px;display: inline-block;margin: 10px;position: relative;border-radius: 2px;overflow: hidden}
.row-images > div > .close {width: 22px;height: 22px;font-size: 160%;border-radius: 0px;padding: 0;position: absolute;top: 0;right: 0;z-index: 10;opacity: 1 !important;background-color: rgba(255,255,255,0.7);color: black;}
.row-images > div > .close:hover{color: var(--bg-color-primary-hover); !important;background-color: rgba(255,255,255,0.9) !important;}
.row-images > div > img {width:100%;height: 100%;position: absolute;left: 0;right: 0 }

.files > label{width: 100%;height: 100%;border:1px solid var(--bg-color-primary);color: var(--bg-color-primary);font-size: 250%;display: table;text-align: center}
.files > label:hover{background-color: var(--bg-color-primary-hover);color: #fff;cursor: pointer}
.files > label > i{display: table-cell;vertical-align: middle;}
.errorImage{margin: 5px}