<h1>Hi!</h1>

<p>{% trans %}To verify your account please visit the following link{% endtrans %}</p>

<a class="btn btn-primary" href="{{ signedUrl }}">Verify</a>

<p>{% trans%}This link will expire in{% endtrans%}.</p>

<p>Cheers!</p>
